.input {
  background: $gray-2;
  border-radius: 18px;

  border: none;

  padding: 10px 20px;

  transition: all 0.1s ease;

  font-size: 14px;

  &:hover {
    border-color: $dark;
    background-color: #f1f1f1;
  }

  &:focus {
    border-bottom: 1px solid $dark;
    outline: $dark;
    box-shadow: 0 0 5px rgba(15, 15, 15, 0.5);
  }
}
