.container {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

  border-bottom: 4px solid transparent;

  &:hover {
    background: $gray-0;
    cursor: pointer;
  }
}

.active {
  border-bottom: 4px solid $primary-color;
}

.label {
  font-weight: 300;
  font-size: 14px;
  white-space: nowrap;
}
