// Primary Colors
$primary-color: #ffc146;
$secondary-color: #2ecc71;

// Neutral Colors
$white: #ffffff;
$dark: #000000 0;
$gray-0: #333435;
$gray-1: rgb(67, 67, 67);
$gray-2: #eeeeee;

// Background and Text Colors
$background-color: $white;
$text-color: $dark;
