// Primary Colors
$primary-color: #57ebff;
$secondary-color: #2ecc71;

// Neutral Colors
$white: #ffffff;
$dark: #000000 0;
$dark-light: #2d2d2d 0;
$gray-0: #d3d3d3;
$gray-1: rgb(206, 206, 206);
$gray-2: #818181;

// Background and Text Colors
$background-color: $white;
$text-color: $dark;
